<!DOCTYPE html>
<head>
  <title>APP</title>
  <script type="application/javascript" src="https://unpkg.com/react@16.0.0/umd/react.production.min.js"></script>
  <script type="application/javascript" src="https://unpkg.com/react-dom@16.0.0/umd/react-dom.production.min.js"></script>
  <script type="application/javascript" src="https://unpkg.com/babel-standalone@6.26.0/babel.js"></script>
  <link  rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/semantic-ui/dist/semantic.min.css"/>
</head>
<Body>
  <div id='app'></div>
  <script type="text/babel">
    class App extends React.Component {
      constructor(props) {
        super(props);
        this.state = {
          fish : "fish",
        };
        this.becomeChicken = this.becomeChicken.bind(this);
      }

      becomeChicken(){
        var args = '?fish = I want Jaja';
        fetch('http://127.0.0.1:5000/test'+args, {
          mode: 'cors',
          method: 'GET',
          headers: {
              'Content-Type': 'application/json',
          },
        })
        .then(res => res.json())
        .then(res => {
            this.setState({fish: res.fish});
            return res;
        })
        .catch(error => {
        });
      }

      render() {
        return (
                <div className="ui container">
                  <div className="ui raised very padded container segment">
                    <div className="ui huge header">NPM Package Recommender</div>
                    <div className="ui input">
                      <input type="text" placeholder="Enter a package list"/>
                      <button onClick={this.becomeChicken} className="ui button">Search</button>
                    </div>
                  <div>
                    <br></br>
                    <div className="ui large header">Results</div>
                    fish: {this.state.fish}
                  </div>
                  </div>
                </div>
        );
      }
    }
    ReactDOM.render(<App/>, document.getElementById('app'));
  </script>
</Body>
