.input{
  margin: auto;
  /*
  display: flex;
  justify-content: center;
  align-items: center;*/
}
.output{
  margin: auto;
  /*
  display: flex;
  justify-content: center;
  align-items: center;*/
}
